.shape {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    width: 60px;
    height: 60px;
    &__weight {
      text-align: center;
      position: absolute;
      top: -20px;
      font-size: 20px;
    }
    &__image {
      width: 100%
    }
  }
  
  .circle {
    border-radius: 50%;
    background: #2d2df8;
  }
  
  .rectangle {
    background-color: green;
  }