<template>
  <div class="info-container">
    <div>
      <p>Total Weight: {{ weight.totalLeftWeight.toFixed(2) }}</p>
      <p>Momentum: {{ force.leftForce.toFixed(2) }}</p>
    </div>
    <div>
      <p>Total Weight: {{ weight.totalRightWeight.toFixed(2) }}</p>
      <p>Momentum: {{ force.rightForce.toFixed(2) }}</p>
    </div>
  </div>
</template>

<script>
import { computed } from "vue";
import { useStore } from "vuex";

export default {
  name: "GameInfo",
  setup() {
    const store = useStore();
    const weight = computed((_) => store.getters["main/getTotalWeight"]);
    const force = computed((_) => store.getters["main/getMomentum"]);
    return { weight, force };
  },
};
</script>

<style scoped lang="scss">
@import "./info.scss";
</style>
