<template>
  <div ref="scene" class="scene">
    <TheControls />
    <GameInfo />
    <TheWeight
      :key="index"
      v-for="(weight, index) in weights"
      :index="index"
      :type="weight.type"
      :is-falling="weight.isFalling"
      :weight="weight.weight"
      :position-y="weight.positionY"
      :position-probability="weight.horizontalPositionProbability"
      :side="'left'"
    />
    <TheWeight
      :key="index"
      v-for="(weight, index) in rightWeights"
      :index="index"
      :type="weight.type"
      :is-falling="weight.isFalling"
      :weight="weight.weight"
      :position-y="weight.positionY"
      :position-probability="weight.horizontalPositionProbability"
      :side="'right'"
    />
    <TheBalance ref="balanceTemplateRef" />
  </div>
</template>

<script>
import GameInfo from "@/components/info/TheInfo";
import TheBalance from "@/components/balance/TheBalance";
import TheWeight from "@/components/weights/BaseWeight";
import { useStore } from "vuex";
import { computed, onMounted, ref } from "vue";
import { detectCollisionPoint } from "@/common/helpers/detectCollisionPoint";
import { calculateRotationDelta } from "@/common/helpers/calculateRotationDelta";
import TheControls from "@/components/controls/TheControls";
import { listenKeyboradEvents } from "@/common/helpers/keyboardEvents";
import { scaleShape } from "@/common/helpers/scaleShapes";

export default {
  name: "TheScene",
  components: { TheWeight, GameInfo, TheBalance, TheControls },
  setup() {
    const store = useStore();
    const scene = ref(null);

    const isGamePaused = computed((_) => store.getters["main/getGameState"]);
    const weights = computed((_) => store.getters["main/getWeights"]);
    const rightWeights = computed(
      (_) => store.getters["main/getRandomWeights"]
    );
    const rotationDegreeOfBalance = computed(
      (_) => store.getters["balance/getRotationAngle"]
    );
    const balanceLineTopPosition = computed(
      (_) => store.getters["balance/getBalanceTopPosition"]
    );
    const isLeftArrowDown = computed(
      (_) => store.getters["main/getIsArrowLeftDown"]
    );
    const isRightArrowDown = computed(
      (_) => store.getters["main/getIsArrowRightDown"]
    );
    const force = computed((_) => store.getters["main/getMomentum"]);

    // add keyboard event listeners
    listenKeyboradEvents(store);

    const stopGame = (_) => store.dispatch("main/setGameState", true);

    const dropFigures = () => {
      // animate left weights falling
      weights.value.forEach((weight, index) => {
        if (weight.isFalling)
          store.dispatch("main/updateWeightPosition", index);
      });

      // animate right weights falling
      rightWeights.value.forEach((weight, index) => {
        if (weight.isFalling)
          store.dispatch("main/updateRightWeightPosition", index);
      });
    };

    const rotateBalance = () => {
      const rotationDelta = calculateRotationDelta(
        force.value.rightForce,
        force.value.leftForce
      ); // calculate the balance line rotation speed or delta
      store.dispatch("balance/setRotationDelta", rotationDelta); // set delta to state
      store.dispatch("balance/setBalanceRotationDeg"); // rotate balance
    };

    const moveFallenShapes = (listWeights, side = "left") => {
      listWeights.forEach((weight, index) => {
        if (weight.isFalling) return;
        // calculates boxes position related to balance line
        let position = detectCollisionPoint(
          balanceLineTopPosition.value,
          rotationDegreeOfBalance.value,
          weight.horizontalPositionProbability,
          side
        );
        position -= scaleShape(weight.weight); // calculate collision point of box with balance line related to box volume
        // save position of each fallen box
        store.dispatch(
          side === "left"
            ? "main/setFalledWeightPosition"
            : "main/setFalledRightWeightPosition",
          { index, position }
        );
      });
    };

    const calculateTotalWeight = (listWeights, side = "left") => {
      let totalWeight = 0;
      listWeights.forEach((weight, index) => {
        if (weight.isFalling) return;
        totalWeight += weight.weight; // calculate fallen boxes total weight
        store.dispatch(
          side === "left"
            ? "main/setTotalLeftWeight"
            : "main/setTotalRightWeight",
          totalWeight
        ); //store total weight
      });
    };

    const moveFallingShapeWithArrows = () => {
      if (isLeftArrowDown.value || isRightArrowDown.value) {
        weights.value.forEach((weight, i) => {
          if (weight.isFalling)
            store.dispatch(
              isLeftArrowDown.value ? "main/moveLeft" : "main/moveRight",
              i
            );
        });
      }
    };

    // check if rotation degree more than 30 deg
    const ifRotationDegreeAboveLimit = (_) => {
      if (
        store.getters["balance/getRotationAngle"] > 30 ||
        store.getters["balance/getRotationAngle"] < -30
      ) {
        stopGame();
        alert("Game Over!");
      }
    };

    onMounted(() => {
      // get side limits of balance for correcting weights x position
      const balanceSideLimit = (scene.value.clientWidth - 1000) / 2;
      store.dispatch("main/setBalanceSideLimit", { balanceSideLimit });
      const animationTick = () => {
        if (isGamePaused.value) return requestAnimationFrame(animationTick);
        dropFigures();
        moveFallenShapes(rightWeights.value, "right"); // move fallen right weights relative to balance line
        moveFallenShapes(weights.value, "left"); // move fallen left weights relative to balance line
        calculateTotalWeight(rightWeights.value, "right");
        calculateTotalWeight(weights.value, "left");
        moveFallingShapeWithArrows(); // move weight to left or right
        rotateBalance();
        ifRotationDegreeAboveLimit();
        requestAnimationFrame(animationTick);
      };

      requestAnimationFrame(animationTick); // initialize Animation frame
    });
    return { scene, store, weights, rightWeights };
  },
};
</script>

<style scoped lang="scss" link>
@import "./scene.scss";
</style>
