<template>
  <div class="balance">
    <div class="balance__space" />
    {{ rotationAngle.toFixed(2) }}
    <div
      :style="{ transform: `rotate(` + rotationAngle + 'deg)' }"
      ref="balanceLine"
      class="balance__line"
    />
    <div class="balance__balance-bottom" />
  </div>
</template>

<script>
import { computed, onMounted, ref } from "vue";
import { useStore } from "vuex";

export default {
  name: "TheBalance",
  setup() {
    const store = useStore();
    const balanceLine = ref(null);
    const rotationAngle = computed(
      (_) => store.getters["balance/getRotationAngle"]
    );
    onMounted(() => {
      store.dispatch(
        "balance/setBalanceLineTopPosition",
        balanceLine.value.getBoundingClientRect().top
      );
    });
    return { balanceLine, rotationAngle };
  },
};
</script>

<style scoped lang="scss">
@import "./balance.scss";
</style>
